# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Uploads / media
uploads/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Alembic cache (optional but safe)
alembic/__pycache__/
alembic/versions/__pycache__/